*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1f1e1e;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  max-width: 1120px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 27px 0 24px;
  margin-top: 15px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}
.menu__link {
  padding: 27px 25px 24px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  background-color: #886239;
  border-radius: 30px;
  padding: 20px 54px;
}
.button:hover {
  text-decoration: underline;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
}

.burger-menu {
  z-index: 10;
  display: none;
  cursor: pointer;
}
.burger-menu__icon {
  position: relative;
  width: 40px;
  height: 40px;
}
.burger-menu__icon.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}
.burger-menu__line {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #886239;
  border-radius: 8px;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.burger-menu__line--top {
  top: 10%;
}
.burger-menu__line--middle {
  top: 40%;
}
.burger-menu__line--bottom {
  top: 70%;
}
.burger-menu__icon.active .burger-menu__line--top {
  background-color: #ffffff;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  top: 44%;
}
.burger-menu__icon.active .burger-menu__line--middle {
  -webkit-transform: rotate(205deg);
          transform: rotate(205deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.burger-menu__icon.active .burger-menu__line--bottom {
  background-color: #ffffff;
  -webkit-transform: rotate(92deg);
          transform: rotate(92deg);
  top: 44%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/content/bg-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0 49px;
}
.header__phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
}
.header__phone-number {
  font-weight: 400;
  background-color: #886239;
  border-radius: 22px;
  padding: 12px 31px;
  margin-left: 19px;
}
.header__title {
  font-family: "PT Serif", serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}
.header__bottom-text {
  max-width: 430px;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 20px;
}
.header__bottom-btn {
  display: inline-block;
  max-width: 250px;
  margin-bottom: 20px;
}
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.direction {
  padding-top: 100px;
  margin-bottom: 100px;
}
.direction__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px 32px;
}
.direction__img {
  display: block;
}
.direction__text {
  max-width: 256px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #d9d9de;
  border-top: none;
  padding: 12px 19px 19px;
}

.info {
  padding: 32px 0 50px;
  background-image: url(../images/content/bg-info.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info__title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 52px;
}
.info__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 70px 55px;
}
.info__item {
  max-width: 232px;
}
.info__img {
  margin-bottom: 15px;
}
.info__descr {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.popular {
  padding-top: 100px;
}
.popular__title {
  font-weight: 700;
  margin-bottom: 40px;
}
.popular__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px 32px 256px 32px 256px 32px 256px;
  grid-template-columns: repeat(4, 256px);
  -ms-grid-rows: 256px 32px 256px 32px 256px 32px 256px;
  grid-template-rows: repeat(4, 256px);
  gap: 32px;
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 80px;
}
.popular__box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.popular__box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.popular__box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.popular__box > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.popular__box > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.popular__box > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.popular__box > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.popular__box > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.popular__box > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.popular__box > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.popular__box > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.popular__box > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.popular__box > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.popular__box > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.popular__box > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.popular__box > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}
.popular__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  color: #ffffff;
  padding: 16px 24px 19px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popular__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.popular__descr {
  font-weight: 500;
}
.popular__descr--big {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 15px;
}
.popular__price {
  font-weight: 700;
  line-height: 130%;
}
.popular__subtitle {
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 15px;
}
.popular__days {
  margin-bottom: auto;
}

.grid__three {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.grid__six {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.map {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.map__title {
  margin-bottom: 46px;
}
.map__img {
  width: 100%;
  margin-top: 46px;
}

.about {
  margin-bottom: 100px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__column {
  max-width: 450px;
  margin-right: 20px;
}
.about__title {
  line-height: 42px;
  margin-bottom: 25px;
}
.about__text {
  margin-bottom: 34px;
}
.about__link {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c4c4c4;
}

.gallery {
  background-color: #886239;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 84px;
}
.gallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.gallery__link {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-right: 160px;
}
.gallery__item-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.gallery__item-img {
  width: 100%;
}

.arrow {
  position: absolute;
  top: -58px;
}

.arrow-prev {
  right: 60px;
}

.arrow-next {
  right: 0;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-active button {
  background-color: #886239;
}

.content-text {
  padding-top: 100px;
}
.content-text__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 77px;
}
.content-text__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 65px;
}
.content-text__column {
  -ms-flex-preferred-size: fit-content;
      flex-basis: fit-content;
  max-width: 540px;
}
.content-text__column + .content-text__column {
  margin-left: 25px;
}
.content-text__text + .content-text__text {
  margin-top: 40px;
}
.content-text__items {
  padding: 44px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-text__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  width: 135px;
}
.content-text__item:nth-child(4) {
  width: 270px;
}
.content-text__item span {
  display: block;
  font-family: "PT Serif", serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 130%;
  color: #886239;
}

.booking {
  background-color: #eaeaea;
  padding: 75px 0;
}
.booking__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 43px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 830px;
  margin: 0 auto;
}
.form__input {
  width: 256px;
  height: 44px;
  font-size: 16px;
  border: 1px solid #d9d9de;
  padding: 11px 14px 12px;
}
.form__input + .form__input {
  margin-left: 15px;
}
.form__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input-area {
  width: 100%;
  height: 112px;
  font-size: 16px;
  border: 1px solid #d9d9de;
  padding: 14px;
  margin: 28px 0 68px;
  resize: none;
}
.form__input-area::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input-area::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input-area:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input-area::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__input-area::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 130%;
  color: #c4c4c4;
}
.form__btn {
  max-width: 300px;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #1f1e1e;
}
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}
.form__checkbox:checked + .form__checkbox-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: #886239;
  border-radius: 2px;
}
.form__checkbox-style {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  margin-left: -45px;
}

.footer {
  background-color: #1f1e1e;
  padding: 80px 0;
}
.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 65px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 832px;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin: 0 auto;
}
.footer__text {
  font-weight: 500;
  margin-bottom: 7px;
}
.footer__descr {
  line-height: 140%;
  opacity: 0.8;
}
.footer__link-law {
  display: inline-block;
  text-decoration: underline;
  margin-top: 5px;
}
.footer__phone {
  display: block;
  opacity: 0.8;
  margin-bottom: 5px;
}
.footer__email {
  opacity: 0.8;
}

@media (max-width: 1150px) {
  .direction__inner {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (max-width: 1000px) {
  .about__video {
    width: 410px;
    height: 320px;
  }
}
@media (max-width: 900px) {
  .header__title {
    font-size: 78px;
  }

  .content-text__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .content-text__item {
    width: 180px;
    margin-bottom: 40px;
  }
  .content-text__item:nth-child(4) {
    width: 350px;
  }
}
@media (max-width: 880px) {
  .direction {
    padding-bottom: 50px;
    margin: 0 auto;
  }
  .direction__inner {
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .arrow--direction-prev {
    right: 60%;
  }

  .arrow--direction-next {
    right: 30%;
  }
}
@media (max-width: 830px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input + .form__input {
    margin-left: 0;
    margin-top: 20px;
  }
  .form__btn {
    margin-bottom: 30px;
  }
}
@media (max-width: 780px) {
  .header__title {
    font-size: 66px;
  }
  .header__bottom-text {
    font-size: 18px;
  }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about {
    margin-bottom: 50px;
  }
  .about__inner {
    display: block;
    font-size: 16px;
    line-height: 140%;
  }
  .about__column {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .about__video-box {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .info__box {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 20px;
  }
  .info__item:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .booking {
    padding: 50px 0;
  }
  .booking__title {
    margin-bottom: 25px;
  }

  .form__input-area {
    margin-bottom: 30px;
  }

  .footer {
    padding: 50px 0;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__box:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__box:nth-child(3) {
    margin: 40px 0;
  }
}
@media (max-width: 650px) {
  .header__phone {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .burger-menu {
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 10px;
  }

  .menu {
    position: fixed;
    top: -13px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #886239;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    width: 100%;
    padding: 10px 25px;
  }
  .menu__link {
    color: #ffffff;
  }
  .menu__link:hover {
    text-decoration: underline;
  }

  .menu.active {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .header__title {
    font-size: 50px;
  }

  .direction__inner {
    display: block;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .direction__img {
    margin: 0 auto;
  }
  .direction__text {
    margin: 0 auto;
  }

  .content-text {
    padding-top: 50px;
  }
  .content-text__box {
    display: block;
    padding-bottom: 25px;
  }
  .content-text__title {
    margin-bottom: 40px;
  }
  .content-text__column {
    font-size: 16px;
    line-height: 130%;
  }
  .content-text__column + .content-text__column {
    margin-left: 0;
  }
  .content-text__text {
    margin-bottom: 25px;
  }
  .content-text__text + .content-text__text {
    margin-top: 0;
  }
  .content-text__item {
    width: 125px;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .content-text__item span {
    font-size: 40px;
  }
  .content-text__item:nth-child(4) {
    width: 185px;
  }
}
@media (max-width: 500px) {
  .info__box {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    text-align: center;
  }
  .info__item {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .info__item:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .about__video {
    width: 380px;
    height: 250px;
  }

  .form__label {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 26px;
    line-height: 130%;
  }

  .about__video {
    width: 320px;
    height: 200px;
  }

  .content-text {
    padding-top: 25px;
  }
  .content-text__box {
    padding-bottom: 20px;
  }
  .content-text__title {
    margin-bottom: 35px;
  }
  .content-text__text {
    margin-bottom: 20px;
  }
  .content-text__text + .content-text__text {
    margin-top: 0;
  }
  .content-text__items {
    padding: 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-text__item {
    margin-bottom: 15px;
  }

  .form__label {
    margin-left: 45px;
  }
}
@media (max-width: 360px) {
  .logo__img {
    width: 240px;
  }

  .header__phone {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__title {
    font-size: 44px;
  }
  .header__bottom-text {
    font-size: 16px;
    line-height: 140%;
    text-shadow: 0 0 6px #ffffff;
  }
  .header__bottom-btn {
    display: block;
    margin: 0 auto 20px;
  }

  .about__video {
    width: 285px;
    height: 190px;
  }

  .form__label {
    margin-left: 90px;
  }
}