// ---- ---- colors ---- ---- //
// $color-white: #ffffff;
// $color-button: #fdb827;
// $color-header: #233506;
// $color-title: #02283f;
// $color-text: #5f6672;
// $color-section: #fff9f2;
// $color-btn: #ff800b;

// ---- ---- fonts ---- ---- //

// ---- ---- reset ---- ---- //
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
// ---- ---- *** ---- ---- //
body {
}
.container {
}
// ---- ---- main ---- ---- //
